node_red_conf.json
[{"id":"e5b25e82.fe1e8","type":"tab","label":"KeepYourDistance","disabled":false,"info":""},{"id":"e313f440.ff04c","type":"tcp in","z":"e5b25e82.fe1e8","name":"","server":"client","host":"","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":160,"wires":[["19fb12d7.4692c5"]]},{"id":"76c2be2d.9300b8","type":"tcp in","z":"e5b25e82.fe1e8","name":"","server":"client","host":"","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":240,"wires":[["19fb12d7.4692c5"]]},{"id":"eda450d9.ed1288","type":"tcp in","z":"e5b25e82.fe1e8","name":"","server":"client","host":"","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":320,"wires":[["19fb12d7.4692c5"]]},{"id":"b312cadd.4f126","type":"tcp in","z":"e5b25e82.fe1e8","name":"","server":"client","host":"","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":400,"wires":[["19fb12d7.4692c5"]]},{"id":"fb4f5de0.e84c98","type":"tcp in","z":"e5b25e82.fe1e8","name":"","server":"client","host":"","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":480,"wires":[["19fb12d7.4692c5"]]},{"id":"19fb12d7.4692c5","type":"function","z":"e5b25e82.fe1e8","name":"Parse data","func":"pl = msg.payload;\nstart = pl.indexOf('>') + 1;\nend = pl.indexOf('<');\n\nmsg.target = pl.substring(start, end);\n\nstart = pl.indexOf('[') + 1;\nend = pl.indexOf(']');\nmsg.src = pl.substring(start, end);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["2849d8a2.015a1","b539bc40.27653"]]},{"id":"2849d8a2.015a1","type":"debug","z":"e5b25e82.fe1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"src","x":750,"y":240,"wires":[]},{"id":"b539bc40.27653","type":"debug","z":"e5b25e82.fe1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"target","x":770,"y":300,"wires":[]}]
