NodeRed/node_red_conf2.json
[{"id":"6f25425.4ad123c","type":"tab","label":"KeepYourDistance","disabled":false,"info":""},{"id":"8249d01.1eaecb","type":"tcp in","z":"6f25425.4ad123c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":480,"wires":[["297ba756.2761e8"]]},{"id":"a46fdfe5.617c","type":"tcp in","z":"6f25425.4ad123c","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":560,"wires":[["2ff3cb7a.120e7c"]]},{"id":"4cab3546.17ff6c","type":"tcp in","z":"6f25425.4ad123c","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":640,"wires":[["5b558030.a1be"]]},{"id":"785c8cc6.62575c","type":"tcp in","z":"6f25425.4ad123c","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":720,"wires":[["ea33920f.67c2d"]]},{"id":"35a57a82.9a67a6","type":"tcp in","z":"6f25425.4ad123c","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":800,"wires":[["cbc1cd59.c4b3f8"]]},{"id":"16a10d96.748a8a","type":"function","z":"6f25425.4ad123c","name":"dataParsing()","func":"pl = msg.payload;\nstart = pl.indexOf('>') + 1;\nend = pl.indexOf('<');\n\nmsg.target = pl.substring(start, end);\n\nstart = pl.indexOf('[') + 1;\nend = pl.indexOf(']');\nmsg.src = pl.substring(start, end);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":640,"wires":[["2b299b04.3d822c","70b8c96e.e25758","3bf1ce16.8689a2","cb099338.7d8e4"]]},{"id":"2b299b04.3d822c","type":"debug","z":"6f25425.4ad123c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"src","x":800,"y":1060,"wires":[]},{"id":"70b8c96e.e25758","type":"debug","z":"6f25425.4ad123c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"target","x":590,"y":1060,"wires":[]},{"id":"81a8bb66.ec6eb8","type":"http request","z":"6f25425.4ad123c","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dANfDtDJsnECxYJBaIVeXI","tls":"","x":1495,"y":520,"wires":[["156c82fd.34607d","7b083424.7024fc"]]},{"id":"156c82fd.34607d","type":"debug","z":"6f25425.4ad123c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1750,"y":640,"wires":[]},{"id":"3bf1ce16.8689a2","type":"function","z":"6f25425.4ad123c","name":"Setting parameters","func":"msg.event = \"keep_your_distance\";\n// value 1 is the source mote\n// value 2 is the target mote\nmsg.payload = { \"value1\": msg.src, \"value2\": msg.target };\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["e310f0ed.fb52d","98d4f4a4.90e6c"]]},{"id":"be279a71.cf4c5","type":"debug","z":"6f25425.4ad123c","name":"LOG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":60,"wires":[]},{"id":"297ba756.2761e8","type":"function","z":"6f25425.4ad123c","name":"setUserPort()","func":"msg.user = 1;\nmsg.port = 60001;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["16a10d96.748a8a","4d15ed70.e84fa4"]]},{"id":"2ff3cb7a.120e7c","type":"function","z":"6f25425.4ad123c","name":"setUserPort()","func":"msg.user = 2;\nmsg.port = 60002;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["16a10d96.748a8a","4d15ed70.e84fa4"]]},{"id":"5b558030.a1be","type":"function","z":"6f25425.4ad123c","name":"setUserPort()","func":"msg.user = 3;\nmsg.port = 60003;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["16a10d96.748a8a","4d15ed70.e84fa4"]]},{"id":"ea33920f.67c2d","type":"function","z":"6f25425.4ad123c","name":"setUserPort()","func":"msg.user = 4;\nmsg.port = 60004;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["16a10d96.748a8a","4d15ed70.e84fa4"]]},{"id":"cbc1cd59.c4b3f8","type":"function","z":"6f25425.4ad123c","name":"setUserPort()","func":"msg.user = 5;\nmsg.port = 60005;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":800,"wires":[["16a10d96.748a8a","4d15ed70.e84fa4"]]},{"id":"e310f0ed.fb52d","type":"switch","z":"6f25425.4ad123c","name":"Switch for the web POST","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1144,"y":640,"wires":[["81a8bb66.ec6eb8"],["100077fa.1209b"],["738338af.3c242"],["7b03161c.f45b48"],["6a58269c.9a6b5"]]},{"id":"100077fa.1209b","type":"http request","z":"6f25425.4ad123c","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dANfDtDJsnECxYJBaIVeXI","tls":"","x":1495,"y":580,"wires":[["156c82fd.34607d","7b083424.7024fc"]]},{"id":"738338af.3c242","type":"http request","z":"6f25425.4ad123c","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dANfDtDJsnECxYJBaIVeXI","tls":"","x":1495,"y":640,"wires":[["156c82fd.34607d","7b083424.7024fc"]]},{"id":"7b03161c.f45b48","type":"http request","z":"6f25425.4ad123c","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dANfDtDJsnECxYJBaIVeXI","tls":"","x":1495,"y":700,"wires":[["156c82fd.34607d","7b083424.7024fc"]]},{"id":"6a58269c.9a6b5","type":"http request","z":"6f25425.4ad123c","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/dANfDtDJsnECxYJBaIVeXI","tls":"","x":1495,"y":760,"wires":[["156c82fd.34607d","7b083424.7024fc"]]},{"id":"cb099338.7d8e4","type":"function","z":"6f25425.4ad123c","name":"Parsing data","func":"var m = \"[2] Retrieved the data: the source mote is \" + msg.src + \" and the target mote is \" + msg.target;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["86e6f47a.b04238"]]},{"id":"98d4f4a4.90e6c","type":"function","z":"6f25425.4ad123c","name":"Prepare massage","func":"var m = \"[3] Preparing the message for the IFTTT server: \";\nm += \"event = keep_your_distance, \"\nm += \"value1 = \" + msg.src;\nm += \" value2 = \" + msg.target;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["86e6f47a.b04238"]]},{"id":"7b083424.7024fc","type":"function","z":"6f25425.4ad123c","name":"Sent message","func":"var m = \"[4] Message from user \" + msg.user + \" with target \" + msg.target + \" is sent to the IFTTT server!\";\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":340,"wires":[["86e6f47a.b04238"]]},{"id":"4d15ed70.e84fa4","type":"function","z":"6f25425.4ad123c","name":"Received message","func":"var m = \"[1] Received message from user \" + msg.user + \" on port \" + msg.port\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["86e6f47a.b04238"]]},{"id":"86e6f47a.b04238","type":"file","z":"6f25425.4ad123c","name":"","filename":"/home/user/Desktop/tinyos-main/apps/keepYourDistance/NodeRed/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":700,"y":60,"wires":[["be279a71.cf4c5"]]}]
