NodeRed/node_red_conf.json
[{"id":"dc601501.494688","type":"tab","label":"KeepYourDistance","disabled":false,"info":""},{"id":"988950cd.7209f8","type":"tcp in","z":"dc601501.494688","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":480,"wires":[["c63dd52e.4576f"]]},{"id":"4d150355.649a14","type":"tcp in","z":"dc601501.494688","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":560,"wires":[["d6dda5b8.30ba28"]]},{"id":"3e596240.22cf36","type":"tcp in","z":"dc601501.494688","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":640,"wires":[["7fca2894.1ac448"]]},{"id":"1e0446c3.ae0009","type":"tcp in","z":"dc601501.494688","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":720,"wires":[["aaa7dcbc.fc7f98"]]},{"id":"a545280c.cc4088","type":"tcp in","z":"dc601501.494688","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":800,"wires":[["a401bc03.d06f68"]]},{"id":"2616303e.939b18","type":"function","z":"dc601501.494688","name":"dataParsing()","func":"pl = msg.payload;\nstart = pl.indexOf('>') + 1;\nend = pl.indexOf('<');\n\nmsg.target = pl.substring(start, end);\n\nstart = pl.indexOf('[') + 1;\nend = pl.indexOf(']');\nmsg.src = pl.substring(start, end);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["9f3299e2.e1a","7aaa5ff4.b20d","5a489397.02c9b4","a1971cda.1e47d8"]]},{"id":"9f3299e2.e1a","type":"debug","z":"dc601501.494688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"src","x":800,"y":1060,"wires":[]},{"id":"7aaa5ff4.b20d","type":"debug","z":"dc601501.494688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"target","x":590,"y":1060,"wires":[]},{"id":"b417e9d9.35d698","type":"http request","z":"dc601501.494688","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/YOURKEY","tls":"","x":1495,"y":520,"wires":[["f1562b4.be4ea58","77c55dee.bb0ec4"]]},{"id":"f1562b4.be4ea58","type":"debug","z":"dc601501.494688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1750,"y":640,"wires":[]},{"id":"5a489397.02c9b4","type":"function","z":"dc601501.494688","name":"Setting parameters","func":"msg.event = \"keep_your_distance\";\n// value 1 is the source mote\n// value 2 is the target mote\nmsg.payload = { \"value1\": msg.src, \"value2\": msg.target };\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["2fef6548.aead5a","70d222a0.1917bc"]]},{"id":"c63dd52e.4576f","type":"function","z":"dc601501.494688","name":"setUserPort()","func":"if(msg.payload[0] == '['){\n    msg.user = 1;\n    msg.port = 60001;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["2616303e.939b18","1244770d.45a1d9"]]},{"id":"d6dda5b8.30ba28","type":"function","z":"dc601501.494688","name":"setUserPort()","func":"if(msg.payload[0] == '['){\n    msg.user = 2;\n    msg.port = 60002;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["2616303e.939b18","1244770d.45a1d9"]]},{"id":"7fca2894.1ac448","type":"function","z":"dc601501.494688","name":"setUserPort()","func":"if(msg.payload[0] == '['){\n    msg.user = 3;\n    msg.port = 60003;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["2616303e.939b18","1244770d.45a1d9"]]},{"id":"aaa7dcbc.fc7f98","type":"function","z":"dc601501.494688","name":"setUserPort()","func":"if(msg.payload[0] == '['){\n    msg.user = 4;\n    msg.port = 60004;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["2616303e.939b18","1244770d.45a1d9"]]},{"id":"a401bc03.d06f68","type":"function","z":"dc601501.494688","name":"setUserPort()","func":"if(msg.payload[0] == '['){\n    msg.user = 5;\n    msg.port = 60005;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":800,"wires":[["2616303e.939b18","1244770d.45a1d9"]]},{"id":"2fef6548.aead5a","type":"switch","z":"dc601501.494688","name":"Switch for the web POST","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1144,"y":640,"wires":[["b417e9d9.35d698"],["b47b38e4.466678"],["ed2e55cb.a9d498"],["5add6ed6.a17438"],["8e3034c8.4dea78"]]},{"id":"b47b38e4.466678","type":"http request","z":"dc601501.494688","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/YOURKEY","tls":"","x":1495,"y":580,"wires":[["f1562b4.be4ea58","77c55dee.bb0ec4"]]},{"id":"ed2e55cb.a9d498","type":"http request","z":"dc601501.494688","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/YOURKEY","tls":"","x":1495,"y":640,"wires":[["f1562b4.be4ea58","77c55dee.bb0ec4"]]},{"id":"5add6ed6.a17438","type":"http request","z":"dc601501.494688","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/YOURKEY","tls":"","x":1495,"y":700,"wires":[["f1562b4.be4ea58","77c55dee.bb0ec4"]]},{"id":"8e3034c8.4dea78","type":"http request","z":"dc601501.494688","name":"POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/YOURKEY","tls":"","x":1495,"y":760,"wires":[["f1562b4.be4ea58","77c55dee.bb0ec4"]]},{"id":"a1971cda.1e47d8","type":"function","z":"dc601501.494688","name":"Parsing data","func":"var m = \"[2] Retrieved the data: the source mote is \" + msg.src + \" and the target mote is \" + msg.target;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["2e0a58d7.a9438"]]},{"id":"70d222a0.1917bc","type":"function","z":"dc601501.494688","name":"Prepare massage","func":"var m = \"[3] Preparing the message for the IFTTT server: \";\nm += \"event = keep_your_distance, \"\nm += \"value1 = \" + msg.src;\nm += \" value2 = \" + msg.target;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["128259aa.974026"]]},{"id":"77c55dee.bb0ec4","type":"function","z":"dc601501.494688","name":"Sent message","func":"var m = \"[4] Message from user \" + msg.user + \" with target \" + msg.target + \" is sent to the IFTTT server!\";\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":360,"wires":[["b7d2c444.640b7"]]},{"id":"1244770d.45a1d9","type":"function","z":"dc601501.494688","name":"Received message","func":"var m = \"[1] Received message from user \" + msg.user + \" on port \" + msg.port\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["50c7ac9c.389a14"]]},{"id":"50c7ac9c.389a14","type":"file","z":"dc601501.494688","name":"","filename":"YOUR_PATH/NR-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":270,"y":140,"wires":[[]]},{"id":"5667e7fc.0ff4d","type":"file","z":"dc601501.494688","name":"","filename":"YOUR_PATH/NR-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":630,"y":180,"wires":[[]]},{"id":"c47bb337.de1f7","type":"file","z":"dc601501.494688","name":"","filename":"YOUR_PATH/NR-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1010,"y":60,"wires":[[]]},{"id":"d9ed8df1.a1d718","type":"file","z":"dc601501.494688","name":"","filename":"YOUR_PATH/NR-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1330,"y":160,"wires":[[]]},{"id":"2e0a58d7.a9438","type":"delay","z":"dc601501.494688","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":260,"wires":[["5667e7fc.0ff4d"]]},{"id":"128259aa.974026","type":"delay","z":"dc601501.494688","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":260,"wires":[["c47bb337.de1f7"]]},{"id":"b7d2c444.640b7","type":"delay","z":"dc601501.494688","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":260,"wires":[["d9ed8df1.a1d718"]]}]
